{% extends 'base.html.twig' %}

{% block body %}
    <style>
       .dash-sidebar .an-sidebar{
           padding-top:30px;
           padding-bottom:30px;
       }
    </style>

    <div class="an-page-content">
        <div class="container">
            <div class="content-body">
                <h4 class="an-small-title">Heading</h4>
                <div class="element-single">
                    <h1>Heading One</h1>
                    <h2>Heading Two</h2>
                    <h3>Heading Three</h3>
                    <h4>Heading Four</h4>
                    <h5>Heading Five</h5>
                    <h6>Heading Six</h6>
                </div>

                <h4 class="an-small-title">1/1 Text Column</h4>
                <div class="element-single">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo numquam accusamus voluptatibus odit! Assumenda, tempore, dolorum explicabo iusto molestiae <mark>numquam laudantium</mark> vero doloremque neque quod id temporibus nemo nam itaque ratione illo quaerat tempora fugiat porro nihil inventore aliquam deleniti atque quibusdam quidem eos ea quo eligendi ad labore consectetur <kbd><kbd>ctrl</kbd> + <kbd>shift</kbd></kbd> nisi quas commodi et totam error possimus ut officiis recusandae praesentium ab ducimus. Molestiae, sunt, amet, explicabo vel nulla error esse ad iusto vitae eaque. <abbr title="attribute">attr</abbr></p>
                </div>

                <div class="element-single">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="an-small-title">1/2 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit! Assumenda,
                                tempore, dolorum explicabo iusto molestiae numquam laudantium vero
                                doloremque neque quod id temporibus nemo nam itaque ratione.</p>
                        </div>

                        <div class="col-sm-6">
                            <h4 class="an-small-title">1/2 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
                                explicabo numquam accusamus voluptatibus odit! Assumenda, tempore,
                                dolorum explicabo iusto molestiae numquam laudantium vero doloremque
                                neque quod id temporibus nemo nam itaque ratione.</p>
                        </div>
                    </div>
                </div>



                <div class="element-single">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="an-small-title">1/3 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit! Assumenda,
                                tempore, dolorum explicabo iusto molestiae.</p>
                        </div>

                        <div class="col-sm-4">
                            <h4 class="an-small-title">1/3 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit! Assumenda,
                                tempore, dolorum explicabo iusto molestiae.</p>
                        </div>

                        <div class="col-sm-4">
                            <h4 class="an-small-title">1/3 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit! Assumenda,
                                tempore, dolorum explicabo iusto molestiae.</p>
                        </div>
                    </div>
                </div>


                <div class="element-single">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="an-small-title">1/4 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit.</p>
                        </div>

                        <div class="col-sm-3">
                            <h4 class="an-small-title">1/4 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit.</p>
                        </div>

                        <div class="col-sm-3">
                            <h4 class="an-small-title">1/4 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit.</p>
                        </div>

                        <div class="col-sm-3">
                            <h4 class="an-small-title">1/4 Text-column</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Maiores explicabo numquam accusamus voluptatibus odit.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">Default Buttons</h4>
                            <button class="an-btn an-btn-default">Default</button>
                            <button class="an-btn an-btn-black">Black</button>
                            <button class="an-btn an-btn-light">Light</button>
                            <button class="an-btn btn-primary">Primary</button>
                            <button class="an-btn btn-success">Success</button>
                            <button class="an-btn btn-info">Info</button>
                            <button class="an-btn btn-warning">Warning</button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">Buttons Rounded</h4>
                            <button class="an-btn an-btn-default rounded">Default</button>
                            <button class="an-btn an-btn-black rounded">Black</button>
                            <button class="an-btn an-btn-light rounded">Light</button>
                            <button class="an-btn btn-primary rounded">Primary</button>
                            <button class="an-btn btn-success rounded">Success</button>
                            <button class="an-btn btn-info rounded">Info</button>
                            <button class="an-btn btn-warning rounded">Warning</button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">Buttons Size</h4>
                            <button class="an-btn an-btn-default btn-xs">Default</button>
                            <button class="an-btn an-btn-black btn-sm">Black</button>
                            <button class="an-btn btn-primary">Black</button>
                            <button class="an-btn an-btn-light btn-lg">Light</button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">With icon</h4>
                            <button class="an-btn an-btn-default icon-left"><i class="typcn typcn-location-outline"></i>Default</button>
                            <button class="an-btn an-btn-default icon-right">Default<i class="typcn typcn-location-outline"></i></button>
                        </div>
                    </div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="element-single">
                            <h4 class="an-small-title">Checkbox</h4>
                            <div class="">
                    <span class="an-custom-checkbox dark-text">
                      <input type="checkbox" id="check-1" checked>
                      <label for="check-1">Auto Parts <span>12</span></label>
                    </span>
                                <span class="an-custom-checkbox dark-text">
                      <input type="checkbox" id="check-2">
                      <label for="check-2">Comparevans <span>36</span></label>
                    </span>
                                <span class="an-custom-checkbox dark-text">
                      <input type="checkbox" id="check-3">
                      <label for="check-3">Car Spare parts <span>2</span></label>
                    </span>
                                <span class="an-custom-checkbox dark-text">
                      <input type="checkbox" id="check-4">
                      <label for="check-4">Vans &amp; Trucks <span>8</span></label>
                    </span>
                                <span class="an-custom-checkbox dark-text">
                      <input type="checkbox" id="check-5">
                      <label for="check-5">Wanted <span>6</span></label>
                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="element-single">
                            <h4 class="an-small-title">Radio</h4>
                            <span class="an-custom-checkbox radio dark-text">
                    <input type="radio" name="name" id="check-6" checked>
                    <label for="check-6">Wagon <span>12</span></label>
                  </span>
                            <span class="an-custom-checkbox radio dark-text">
                    <input type="radio" name="name" id="check-7">
                    <label for="check-7">Convertable <span>36</span></label>
                  </span>
                            <span class="an-custom-checkbox radio dark-text">
                    <input type="radio" name="name" id="check-8">
                    <label for="check-8">Sedan SUV <span>2</span></label>
                  </span>
                            <span class="an-custom-checkbox radio dark-text">
                    <input type="radio" name="name" id="check-9">
                    <label for="check-9">Coupe <span>8</span></label>
                  </span>
                            <span class="an-custom-checkbox radio dark-text">
                    <input type="radio" name="name" id="check-10">
                    <label for="check-10">Van <span>6</span></label>
                  </span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="element-single">
                            <h4 class="an-small-title">Input</h4>
                            <input type="text" class="an-form-control" placeholder="Text">
                            <input type="email" class="an-form-control bottom-border" placeholder="Email">
                            <input type="email" class="an-form-control error" placeholder="Error">
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">Tab</h4>
                            <div class="an-tab-container">
                                <div class="tab-nav">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
                                        <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
                                        <li role="presentation"><a href="#highest-price" aria-controls="highest-price" role="tab" data-toggle="tab">Highest Price</a></li>
                                        <li role="presentation"><a href="#lowest-price" aria-controls="lowest-price" role="tab" data-toggle="tab">Lowest Price</a></li>
                                    </ul>
                                </div>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="all">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their </p>

                                    </div> <!-- end tab pane -->
                                    <div role="tabpanel" class="tab-pane fade" id="popular">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their </p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="highest-price">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their </p>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="lowest-price">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their </p>
                                    </div>
                                </div> <!-- end tab-content -->
                            </div> <!-- an-tab-container -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">Accordion</h4>
                            <div class="an-accordion">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Collapsible Group Item #1
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Collapsible Group Item #2
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Collapsible Group Item #3
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end an-accordion -->
                        </div>
                    </div>
                </div> <!-- end row -->


                <div class="element-single">
                    <h4 class="an-small-title">Pricing table</h4>

                    <div class="an-pricing">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                    <div class="price-header">
                                        <h3 class="plan-name">Basic</h3>
                                        <h1 class="plan-price"><span>$</span>17.69</h1>
                                        <p>Per Month</p>
                                    </div>
                                    <div class="helper-text">
                                        <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                    </div>
                                    <ul class="feature-lists">
                                        <li>10 Members</li>
                                        <li>2GB Downloads</li>
                                        <li>Unlimited browsing</li>
                                    </ul>
                                    <div class="price-footer">
                                        <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                    </div>
                                </div>

                                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                    <div class="price-header">
                                        <h3 class="plan-name">Standard</h3>
                                        <h1 class="plan-price"><span>$</span>20.69</h1>
                                        <p>Per Month</p>
                                    </div>
                                    <div class="helper-text">
                                        <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                    </div>
                                    <ul class="feature-lists">
                                        <li>10 Members</li>
                                        <li>2GB Downloads</li>
                                        <li>Unlimited browsing</li>
                                    </ul>
                                    <div class="price-footer">
                                        <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                    </div>
                                </div>

                                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                    <div class="price-header">
                                        <h3 class="plan-name">Platinum</h3>
                                        <h1 class="plan-price"><span>$</span>300</h1>
                                        <p>Per Month</p>
                                    </div>
                                    <div class="helper-text">
                                        <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                    </div>
                                    <ul class="feature-lists">
                                        <li>10 Members</li>
                                        <li>2GB Downloads</li>
                                        <li>Unlimited browsing</li>
                                    </ul>
                                    <div class="price-footer">
                                        <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                    </div>
                                </div>

                                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                    <div class="price-header">
                                        <h3 class="plan-name">Enterprise</h3>
                                        <h1 class="plan-price"><span>$</span>500</h1>
                                        <p>Per Month</p>
                                    </div>
                                    <div class="helper-text">
                                        <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                    </div>
                                    <ul class="feature-lists">
                                        <li>10 Members</li>
                                        <li>2GB Downloads</li>
                                        <li>Unlimited browsing</li>
                                    </ul>
                                    <div class="price-footer">
                                        <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                    </div>
                                </div>

                                <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                            </div>

                        </div> <!-- end row -->
                    </div>
                </div>
                <!-- end row -->

                <div class="row">

                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">Alerts</h4>

                            <div class="alert alert-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div>
                            <div class="alert alert-info" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
                            <div class="alert alert-warning" role="alert"> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>
                            <div class="alert alert-danger" role="alert"> <strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="element-single">
                            <h4 class="an-small-title">List Group</h4>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>

                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div> <!-- end an-page-content -->
{% endblock %}

{% block stylesheets %}
{% endblock %}
