{% extends 'base.html.twig' %}

{% block body %}


    <div class="an-header-banner with-map">
        <div class="an-mapcontent">
            <div id="map"></div>
        </div>
        <div class="container">
            <div class="an-search-container">
                <form action="#">
                    <div class="search-fields">
                        <div class="row">
                            <div class="col-md-6">
                                <input class='an-form-control' type="text" placeholder="Enter Keyword">
                            </div>
                            <div class="col-md-3">
                                <div class="an-default-select-wrapper minimal">
                                    <select>
                                        <option value="0">Category</option>
                                        <option value="1">Property</option>
                                        <option value="2">Motors</option>
                                        <option value="3">For sale</option>
                                        <option value="4">Pets</option>
                                        <option value="5">Services</option>
                                        <option value="6">Jobs</option>
                                        <option value="7">Hotels &amp; Travels</option>
                                        <option value="8">Restaurant</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="an-default-select-wrapper location minimal">
                                    <select>
                                        <option value="0">Location</option>
                                        <option value="1">New York</option>
                                        <option value="2">California</option>
                                        <option value="3">London</option>
                                        <option value="4">Paris</option>
                                        <option value="5">Amestradam</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end nested row -->
                        </div>

                        <div class="an-search-show-more">
                            <div class="show-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="an-range-slider">
                                            <div id="slider-radius"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="an-range-slider">
                                            <div id="slider"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end show-content -->
                        </div>
                        <div class="show-more-btn">
                            <a href="#"><i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                    <div class="search-submit">
                        <button class="an-btn an-btn-default" type="submit"><i class="ion-android-search"></i></button>
                    </div>
                </form>
            </div> <!-- end an-search-container -->
        </div> <!-- end cotnainer -->
    </div>
    <div class="an-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-body no-bottom-padding">
                        <div class="an-section-container no-padding">
                            <div class="an-title-container">
                                <h1 class="an-title">Categories</h1>
                                <a class="an-btn an-btn-default icon-right" href="category.html">All Categories<i class="fa fa-th-large"></i></a>
                            </div> <!-- end title container -->

                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="an-category-single">
                                        <a href="category.html">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/property.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-building-o color-property"></i></div>
                                                    <h3>Property <span class="color-property">(139)</span></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div> <!-- end an-category-single -->
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/motors.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-car color-motor"></i></div>
                                                    <h3>Motors <span class="color-motor">(60)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/for-sal.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-tag color-sale"></i></div>
                                                    <h3>For sale <span class="color-sale">(160)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/jobs.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-briefcase color-job"></i></div>
                                                    <h3>Jobs <span class="color-job">(238)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/service.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-bullhorn color-service"></i></div>
                                                    <h3>Services <span class="color-service">(96)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/restaurant.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-cutlery color-restaurant"></i></div>
                                                    <h3>Restaurants <span class="color-restaurant">(230)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/hotel.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-leaf color-hotel"></i></div>
                                                    <h3>Hotels &amp; Travels <span class="color-hotel">(269)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <a href="category.html">
                                        <div class="an-category-single">
                                            <div class="listing-img-container"
                                                 style="background: url('assets/img/category/pets.jpg') center center no-repeat;
                            background-size: cover;">
                                                <div class="overlay"></div>
                                                <div class="category-content">
                                                    <div class="category-icon"><i class="fa fa-paw color-pet"></i></div>
                                                    <h3>Pets <span class="color-pet">(55)</span></h3>
                                                </div>
                                            </div>
                                        </div> <!-- end an-category-single -->
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end an-section-container -->

                        <div class="an-advertise">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="ad-details">
                                        <i class="ion-leaf color-hotel"></i>
                                        <h1><a href="listing-single.html">Luxury 5 star hotel</a></h1>
                                        <div class="listing-meta">
                                            <span><a class="color-hotel" href="#">Restaurant/Fine Dining</a></span>
                                            <span class="user"><span class="meta-italic">By:</span><a href="#">Fiona Wilson</a></span>
                                            <span><i class="typcn typcn-time"></i>16.1.17</span>
                                            <span><i class="typcn typcn-location"></i>New York</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="ad-price">
                                        <h1><small><i class="ion-social-usd"></i></small>120/day</h1>
                                        <div class="listing-meta">
                          <span><span class="meta-italic">Convert to:</span>
                            <a href="#">EUR</a>
                            <a href="#">GBR</a>
                            <a class="active" href="#">USD</a>
                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end an-advertise -->

                        <div class="an-section-container">
                            <div class="an-title-container">
                                <h1 class="an-title">Featured listing</h1>
                                <a class="an-btn an-btn-default icon-right" href="listing.html">All Listings<i class="fa fa-bars"></i></a>
                            </div> <!-- end title container -->

                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-jobs.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-property">Property</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Lumberjack</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$6 300</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-cars.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-motor">Motor</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Mercedes S13</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$326 300</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>London, UK</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-sale.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-sale">sale</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Bike For hire</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$5/hr</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-pets.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-pet">Pets</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Cute Dog</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$800</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-service.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-service">Service</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Plumber fitting</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$80/day</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-hotels.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-hotel">Hotel</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Land remark hotel</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$250/day</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-restaurant.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-restaurant">Restaurant</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Morning breakfast</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$10(30% off)</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-property.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-property">Property</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Full Furnished House</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$124 400</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="an-listing-single">
                                        <div class="listing-img-container"
                                             style="background: url('assets/img/listing/listing-sale.jpg') center center no-repeat;
                          background-size: cover;">
                                            <span class="an-badge bg-sale">Sale</span>
                                            <div class="listing-hover-content">
                                                <a class="link-single" href="listing-single.html"><i class="ion-forward"></i></a>
                                                <p>
                                                    <span><i class="typcn typcn-eye-outline color-job"></i> 10 234</span>
                                                    <span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>
                                                </p>
                                                <button class="an-btn an-btn-black icon-left small-padding"><i class="ion-android-locate"></i>On the map</button>
                                            </div>
                                        </div>
                                        <div class="listing-content">
                                            <div class="listing-name">
                                                <h3><a href="listing-single.html">Bike For hire</a></h3>
                                                <div class="price">
                                                    <p class="color-primary">$15/hr</p>
                                                    <ul class="an-rating-list list-inline">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="listing-meta"><span><i class="ion-android-time"></i>16.1.17</span><span><i class="typcn typcn-location"></i>New York</span></div>
                                        </div>
                                    </div> <!-- end listing-single -->
                                </div>
                            </div> <!-- end row -->
                        </div> <!-- end an-section-container -->

                        <div class="an-section-container">
                            <div class="an-title-container">
                                <h1 class="an-title">Classifieds Listing</h1>
                                <a class="an-btn an-btn-default icon-right" href="listing.html">All Listing<i class="fa fa-list"></i></a>
                            </div> <!-- end title container -->

                            <div class="an-classified-listing">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="classified-single">
                                            <h3 class="bg-property"><i class="fa fa-building-o"></i>Properties</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                            </ul>
                                        </div>

                                        <div class="classified-single">
                                            <h3 class="bg-hotel"><i class="fa fa-leaf"></i>Hotels</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="classified-single">
                                            <h3 class="bg-service"><i class="fa fa-bullhorn"></i>Services</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                            </ul>
                                        </div>

                                        <div class="classified-single">
                                            <h3 class="bg-motor"><i class="fa fa-car"></i>Motors</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="classified-single">
                                            <h3 class="bg-pet"><i class="fa fa-paw"></i>Pets</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                            </ul>
                                        </div>

                                        <div class="classified-single">
                                            <h3 class="bg-job"><i class="fa fa-briefcase"></i>Jobs</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                            </ul>
                                        </div>


                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="classified-single">
                                            <h3 class="bg-sale"><i class="fa fa-tag"></i>Sales</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Furnishing</span><span>55</span></a></li>
                                            </ul>
                                        </div>

                                        <div class="classified-single">
                                            <h3 class="bg-restaurant"><i class="fa fa-cutlery"></i>Restaurants</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                                <li><a href="#"><span>Land &amp; Estate</span><span>84</span></a></li>
                                                <li><a href="#"><span>To Rent</span><span>2</span></a></li>
                                                <li><a href="#"><span>To Share</span><span>8</span></a></li>
                                                <li><a href="#"><span>Commercial &amp; Local</span><span>15</span></a></li>
                                                <li><a href="#"><span>For Sale</span><span>12</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> <!-- end row -->

                            </div> <!-- end an-classified-listing -->
                        </div> <!-- end an-section-container -->

                        <div class="an-section-container">
                            <div class="an-title-container">
                                <h1 class="an-title">Register now</h1>
                                <a class="an-btn an-btn-default icon-right" href="#">All Pricing<i class="fa fa-usd"></i></a>
                            </div> <!-- end title container -->
                            <div class="an-pricing pt0">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                            <div class="price-header">
                                                <h3 class="plan-name">Basic</h3>
                                                <h1 class="plan-price"><span>$</span>17.69</h1>
                                                <p>Per Month</p>
                                            </div>
                                            <div class="helper-text">
                                                <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                            </div>
                                            <ul class="feature-lists">
                                                <li>10 Members</li>
                                                <li>2GB Downloads</li>
                                                <li>Unlimited browsing</li>
                                            </ul>
                                            <div class="price-footer">
                                                <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                            </div>
                                        </div>

                                        <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                            <div class="price-header">
                                                <h3 class="plan-name">Standard</h3>
                                                <h1 class="plan-price"><span>$</span>20.69</h1>
                                                <p>Per Month</p>
                                            </div>
                                            <div class="helper-text">
                                                <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                            </div>
                                            <ul class="feature-lists">
                                                <li>10 Members</li>
                                                <li>2GB Downloads</li>
                                                <li>Unlimited browsing</li>
                                            </ul>
                                            <div class="price-footer">
                                                <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                            </div>
                                        </div>

                                        <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                            <div class="price-header">
                                                <h3 class="plan-name">Platinum</h3>
                                                <h1 class="plan-price"><span>$</span>300</h1>
                                                <p>Per Month</p>
                                            </div>
                                            <div class="helper-text">
                                                <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                            </div>
                                            <ul class="feature-lists">
                                                <li>10 Members</li>
                                                <li>2GB Downloads</li>
                                                <li>Unlimited browsing</li>
                                            </ul>
                                            <div class="price-footer">
                                                <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                            </div>
                                        </div>

                                        <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                                    </div>

                                    <div class="col-md-3 col-sm-6">
                                        <div class="an-pricing-table-single with-shadow-dark wow fadeIn" data-wow-delay=".1s">
                                            <div class="price-header">
                                                <h3 class="plan-name">Enterprise</h3>
                                                <h1 class="plan-price"><span>$</span>500</h1>
                                                <p>Per Month</p>
                                            </div>
                                            <div class="helper-text">
                                                <p>It is a long established fact that a reader will be dist racted by the readable.</p>
                                            </div>
                                            <ul class="feature-lists">
                                                <li>10 Members</li>
                                                <li>2GB Downloads</li>
                                                <li>Unlimited browsing</li>
                                            </ul>
                                            <div class="price-footer">
                                                <a href="#" class="an-btn an-btn-default fluid">Chose Plan</a>
                                            </div>
                                        </div>

                                        <!-- end .AN-SINGEL-uSEr-MAIN-BODY -->
                                    </div>

                                </div> <!-- end row -->
                            </div>
                        </div> <!-- end an-section-contaienr -->

                        <div class="an-section-container no-bottom-padding">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="an-title-container">
                                        <h1 class="an-title">Clients Says</h1>
                                    </div> <!-- end title container -->
                                    <div class="an-testimonial">
                                        <div class="owl-carousel testimonial-slider owl-theme">
                                            <div class="item">
                                                <div class="testimonial-single">
                                                    <div class="image" style="background: url('assets/img/users/user1.jpg') center center no-repeat; background-size: cover;"></div>
                                                    <p class="accents">Reviewed by</p>
                                                    <a href="#">Floina wilson</a>
                                                    <i class="ion-quote"></i>
                                                    <p class="testimonial-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
                                                </div> <!-- end testimonial-single -->
                                            </div>
                                            <div class="item">
                                                <div class="testimonial-single">
                                                    <div class="image" style="background: url('assets/img/users/user-3.jpg') center center no-repeat; background-size: cover;"></div>
                                                    <p class="accents">Reviewed by</p>
                                                    <a href="#">Floina wilson</a>
                                                    <i class="ion-quote"></i>
                                                    <p class="testimonial-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
                                                </div> <!-- end testimonial-single -->
                                            </div>
                                            <div class="item">
                                                <div class="testimonial-single">
                                                    <div class="image" style="background: url('assets/img/users/user-2.jpg') center center no-repeat; background-size: cover;"></div>
                                                    <p class="accents">Reviewed by</p>
                                                    <a href="#">Floina wilson</a>
                                                    <i class="ion-quote"></i>
                                                    <p class="testimonial-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
                                                </div> <!-- end testimonial-single -->
                                            </div>
                                        </div> <!-- end slider -->
                                    </div> <!-- end an-testimonial -->
                                </div>
                                <div class="col-md-5 col-md-push-1 col-sm-6">
                                    <div class="an-title-container">
                                        <h1 class="an-title">Latest Listing</h1>
                                    </div> <!-- end title container -->
                                    <div class="an-news-container">
                                        <div class="an-news-single latest-listing">
                                            <div class="an-top-meta">
                                                <span class="an-badge bg-hotel">Hotels &amp; Travels</span>
                                                <span class="price">$18.00/day</span>
                                            </div>
                                            <a href="#">Integar palivier spier erat.</a>
                                            <div class="listing-meta">
                                                <span>12.03.17/USA, New York</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single latest-listing">
                                            <div class="an-top-meta">
                                                <span class="an-badge bg-property">Property</span>
                                                <span class="price">$118 678</span>
                                            </div>
                                            <a href="#">Bed and terrace house for sale</a>
                                            <div class="listing-meta">
                                                <span>12.03.17/USA, New York</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single latest-listing">
                                            <div class="an-top-meta">
                                                <span class="an-badge bg-service">service</span>
                                                <span class="price">$80/day</span>
                                            </div>
                                            <a href="#">Professional information technology services.</a>
                                            <div class="listing-meta">
                                                <span>12.03.17/USA, New York</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single latest-listing">
                                            <div class="an-top-meta">
                                                <span class="an-badge bg-motor">Motors</span>
                                                <span class="price">$14000</span>
                                            </div>
                                            <a href="#">Lorem Ipsum is simply dummy text of the printing and.</a>
                                            <div class="listing-meta">
                                                <span>12.03.17/USA, New York</span>
                                            </div>
                                        </div> <!-- end an-news-single -->
                                    </div> <!-- end an-news-container -->
                                </div>
                            </div>
                        </div> <!-- end an-section-contaienr -->

                        <div class="an-section-container">
                            <div class="an-title-container">
                                <h1 class="an-title">Latest from blog</h1>
                                <a class="an-btn an-btn-default icon-right" href="#">View Blog<i class="fa fa-book"></i></a>
                            </div> <!-- end title container -->
                            <div class="an-news-container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="an-news-single with-thumb">
                                            <img src="assets/img/blog/p1.jpg" alt="">
                                            <a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            <div class="listing-meta">
                                                <span class="an-badge default">Hotel</span>
                                                <span><i class="ion-android-time"></i>16.1.17</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single with-thumb">
                                            <img src="assets/img/blog/p5.jpg" alt="">
                                            <a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            <div class="listing-meta">
                                                <span class="an-badge default">Service</span>
                                                <span><i class="ion-android-time"></i>16.1.17</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single with-thumb">
                                            <img src="assets/img/blog/p8.jpg" alt="">
                                            <a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            <div class="listing-meta">
                                                <span class="an-badge default">Tours &amp; Travels</span>
                                                <span><i class="ion-android-time"></i>16.1.17</span>
                                            </div>
                                        </div> <!-- end an-news-single -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="an-news-single with-thumb">
                                            <img src="assets/img/blog/p10.jpg" alt="">
                                            <a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            <div class="listing-meta">
                                                <span class="an-badge default">Pets</span>
                                                <span><i class="ion-android-time"></i>16.1.17</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single with-thumb">
                                            <img src="assets/img/blog/p3.jpg" alt="">
                                            <a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            <div class="listing-meta">
                                                <span class="an-badge default">Jobs</span>
                                                <span><i class="ion-android-time"></i>16.1.17</span>
                                            </div>
                                        </div> <!-- end an-news-single -->

                                        <div class="an-news-single with-thumb">
                                            <img src="assets/img/blog/p7.jpg" alt="">
                                            <a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                                            <div class="listing-meta">
                                                <span class="an-badge default">Restaurant</span>
                                                <span><i class="ion-android-time"></i>16.1.17</span>
                                            </div>
                                        </div> <!-- end an-news-single -->
                                    </div>
                                </div>
                            </div> <!-- end an-news-container -->
                        </div> <!-- end an-section-contaienr -->
                    </div> <!-- end content-body -->
                </div>
            </div>
        </div>
    </div> <!-- end an-page-content -->

{% endblock %}

{% block stylesheets %}
{% endblock %}
